.header{
    background: $dark-blue;
}

.header__title{
    color: white;
    text-decoration: none;
    h1{
        margin:0;
    }

}
.header_userData{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    @media (min-width:$desktop-breakpoint) {
        margin: 0 $s-size 0 0 ;
    }
    img{
        width:4rem;
        height:4rem;
        border-radius: 50%;
        
    }
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}